.music-player-module {
    background: #282828;
    border-top: black solid 1px;
    z-index: 3;
    display: flex;
    position: fixed;
    bottom: 0;
    height: 105px;
    width: 100%;
    grid-area: music;
}