.search-module {
    height: 100%;
    width: 100%;
    background-color: #0a0a0a;
    /* display: flex; */
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.search-bar {
    width: 100%;
    height: 70px;
    padding: 5px 45px;
    font-size: 36px;
    font-weight: 700;
    color: white;
        caret-color: #1db954;
    background-color: #272727;
        letter-spacing: -.005em;
    font-family: 'Montserrat', sans-serif;
}

