.playlists-explore-item {
    display: flex;
    flex-direction: column;
    margin: 5px;
    height: 200px;
    width: 200px;
    position: relative;
    align-items: center;
    
}

.playlists-explore-item-img {
    background: hsl(0, 0%, 16%);
    /* border: black 1px solid; */
    margin: 5px;
    height: 170px;
    width: 170px; 
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.playlists-explore-item-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    padding: 5px;
    margin: 5px;
    color: white;
    font-weight: 600;
}

/* .fa-play-circle {
    color: white;
} */

.fa-music {
    color: white;
}