.browse-area-module {
    height: 100%;
    width: 100%;
    padding: 20px 0px;
}

.browse-artists-text {
      color: white;
      font-size: 30px;
      font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .05em;
    width: 80%;
    padding: 10px 0px;
}
.browse-artists {
    display: flex;
    height: 600px;
    width: 100%;
    /* align-items: center; */
    /* justify-content: space-around; */
    flex-wrap: wrap;

}

.browse-albums {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-around; */
    width: 100%;
    /* align-items: center; */
    height: 600px;
    padding-top: 10px;
    flex-wrap: wrap;
}

.browse-albums-text {
        color: white;
      font-size: 30px;
      font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .05em;
    width: 80%;
 

}
