.splash-logged-out-module {
    display: grid;
    font-family: 'Montserrat', sans-serif;
}

.navbar-module {
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0.8;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.splash-header-navbar {
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    height: 80px;
    width: 1100px;
    margin-left: 40px;
    margin-right: 40px;
}

.splash-logo-text-combo {
    display: flex;
}

.splash-logo-text {
    font-size: 20px;
    display: flex; 
    align-items: center;
    margin-left: 5px;  
}

.splash-header-login-signup-combo {
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.splash-login-btn {
    padding: 5px;
}
.splash-signup-btn {
    padding: 5px;
}

.splash-login-btn:hover {
    color: #1ED760;
}
.splash-signup-btn:hover {
    color: #1ED760;
}

.splash-tophalf {
    background: linear-gradient(#ef7380 ,#f39b69);
    height: 660px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.splash-tophalf-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    z-index: 1;
}

.splash-info-1 {
    font-size: 70px;
    font-weight: bold;
    margin: 10px
}

.splash-info-2 {
    font-weight: 400;
    font-size: 25px;
    margin: 10px

}


.splash-info-btn {
    background-color: #1db954;
    font-size: 12px;
    border-radius: 500px;
    color: white;
    margin: 20px 10px 10px 10px;
    padding: 15px 70px;
    font-weight: bold; 
    letter-spacing: 0.2em;
    transition: background-color .15s ease-in-out, box-shadow .15s ease-in-out;

}

.splash-info-btn:hover {
    background-color: #1ED760;
        
}


.splash-img {
    position: absolute;
}


.splash-white-space {
    height: 500px;
    background: white;
    position:relative;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.splash-get-premium {
    background: hsl(164, 28%, 39%);
    height: 400px;
    width: 100%;
    position: absolute;
    z-index: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;   
}


.splash-footer {
   height: 100px; 
   background:#000;
    position:relative;
    width: 100%;
    display: flex;

    justify-content: center;
    align-items: center;
}

.splash-github-jeff {
    color: white;
    margin: 10px;
}

.splash-linkedin-jeff {
    color: white;
    margin: 10px;

}

.quote {
    margin: 20px;
    font-size: 22px;
}