.music-player-console {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 100%
}

.music-play-mod {
    height: 105px;
    width: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}


.music-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    padding-bottom: 10px;
}



.music-play-pause {
    padding-bottom: 3px;
    transition: all .2s ease-in-out;
}

.music-play-pause:hover {
    padding-bottom: 3px;
    transform: scale(1.1);
}

.fa-play-circle {
    color: white;
}

.fa-pause-circle {
    color: white;
}

.fa-thumbs-down {
    color: white
}

.fa-thumbs-up {
    color: white
}

.fa-step-forward {
    color: white;
}

.fa-step-backward {
    color: white;
}
.music-seek-input {
    width: 80%;
    border-radius: 5px;
    height: 4px;
    -webkit-appearance: none;
     background:#404040;
     margin: 5px;
}

.music-seek-input:hover {
    background: #55ba55;
}

.music-volume {
    width: 150px;
    position: relative;
    display: flex;
    height: 40px;
    align-items: center;  
    padding-right: 20px;
}


.music-volume-input {
    width: 300px;
    border-radius: 5px;
    height: 4px;
    -webkit-appearance: none;
     background:#404040
}

.music-volume-input:hover {
    background: #55ba55;
}

.music-seek-mod {
    display: flex; 
    align-items: center;
    height: 10px;
    width: 800px;
    justify-content: center;
}


.music-time-current {
    color: #9c9c9c;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-right: 3px;
}
.music-time-total {
    color: #9c9c9c;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-left: 3px;
}