.music-player-console {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 100%
}

.music-play-mod {
    height: 105px;
    width: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}


.music-play-pause {
    padding-bottom: 3px;
}
.fa-play-circle {
    color: white;
}

.music-scrubber {
    margin: 5px;
    height: 10px;
    width: 70%;
    z-index: 0;
    display:flex;
    align-items: center;
}

.music-scrubber-overlay {
    position: absolute;
    border-radius: 2px;
    height: 4px;
    background-color: black;
    /* background: #404040; */
    z-index: 1;
    width: 50%;
    
}

.music-scrubber-process {
    overflow: hidden;
    position: absolute;
    height: 4px;
    border-radius: 2px;
    z-index: 2;;
    background:#b3b3b3
}

.music-volume {
    width: 280px;
    position: relative;
    display: flex;
    height: 40px;
}

.music-volume-overlay {
      position: absolute;
    border-radius: 2px;
    height: 4px;
    background-color: black;
    /* background: #404040; */
    z-index: 1;
    width: 20%; 
}

.music-volume-process {
    overflow: hidden;
    position: absolute;
    height: 4px;
    border-radius: 2px;
    z-index: 2;;
    background:#b3b3b3
}