.browse-area-module {
    height: 100%;
    width: 100%;
    padding: 20px 0px;
}


.browse-artists-text {
      color: white;
      font-size: 30px;
      font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .05em;
    width: 80%;
}
.browse-artists {
    font-family: 'Montserrat', sans-serif;
      color: white;
    
    display: flex;
    padding: 15px;
    height: 200px;
    width: 80%;
    align-items: center;
    justify-content: center;
}

.browse-artist-item {
    width: 25%;
    height: 100%;
    padding: 0px 5px;
}

.browse-albums {
    display: flex;
    /* flex-direction: column; */
    padding: 15px;
    width: 80%;
    height: 150px;
}


.browse-albums-text {
        color: white;
      font-size: 30px;
      font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .05em;
    width: 80%;
}

.browse-album-item {
    width: 25%;
    height: 100%;
}