.songs-album-item-length {
    padding-right: 20px;
}

.songs-album-item-length {
    font-family: 'Montserrat', sans-serif;
    /* color: #b3b3b3; */
    font-size: 14px;
}

.fa-headphones-alt {
    /* color: #b3b3b3; */
    padding: 5px 25px 5px 15px;
}
.fa-play {
    /* color: #b3b3b3; */
    padding: 5px 25px 5px 15px;
}