.song-item {
    height: 65px;
    width: 90%;
    color: white;
    font-family: 'Montserrat', sans-serif;
  
    letter-spacing: .015em;
    margin: 0px 40px;
    display: flex;
    /* padding-left: 10px; */
    align-items: center;
    transition: background-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.song-icon-btn {
    height: 65px;
    width: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.song-item-selected {
    letter-spacing: .015em;
    background: #090304;
    color:#1ed760;
    align-items: center;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    height: 65px;
    width: 90%;
    margin: 0px 40px;
    transition: background-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.song-info-btn {
    display: flex;
    position: relative;
    width: 100%;
    height: 65px;
    justify-content: space-between;
    align-items: center;
}

.song-item:hover {
    background: #090304;
    
}

.song-title {
    padding-left: 15px;
}

.fa-headphones-alt {
    /* color: #b3b3b3; */
    padding: 5px 25px 5px 15px;
}
.fa-play {
    /* color: #b3b3b3; */
    padding: 5px 25px 5px 15px;
}

.song-left {
    display: flex;
    align-items: center;
}

.song-time {
    padding-right: 20px;
}

.song-right {
    display: flex;
    align-items: center;
}

.fa-ellipsis-h {
    padding-right: 20px;
}

