.artist-show-header {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    width: 100%;
    height: 200px;
    position: relative;
    /* background: #171717; */
    background: linear-gradient(transparent -30%,#181818);
    padding-top: 20px;
}

.artist-header-name {
    position: relative;
    color: white;
    font-size: 40px;
    line-height: 82px;
    letter-spacing: -.005em;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    padding-left: 30px;
}

.artist-header-img {
    position: relative;
    /* padding-top: 30px; */
     width: 200px;
    height: 200px;
    border-radius: 50%;
}
